@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

p, h1, a, h2, label{
    font-family: 'Alata';
}

.index-layout {
    display: grid;
    grid-template-rows: 1fr 16fr 1fr;
    justify-items: center;
}

.topnav{
    width: 100vw;
    margin: 0 auto;
}

.topnav a {
    float: right;
    border-radius: 8px;
    margin-right: 18px;
    color: #000000;
    padding: 9px;
    text-decoration: none;
    font-size: 15px;
    border: solid black 1px;
    font-weight: bold;
}

/*Change the color of links on hover*/
.topnav a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.header h1{
    text-align:center;
    line-height: 1px;
}

.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.footer {
    text-align: center;
}

.footer a {
    text-decoration: none;
    margin-right: 18px;
    color: #008000;
}

.about-layout, .contact-layout {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    margin:0;
}

.portafolio{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.portafolio h2{
    text-align:center;
    color: #FFFFFF;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
}

.portafolio div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    border-radius: 3px;
}

.projects {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

input[type=text] {
    height: 15%;
    vertical-align: top;
}

input {
  width: 100%px;
  height: 25px;
}
